@import '_variables.scss';
.primary-color {
  color: $primary_color;
}
.bg-primary-color {
  background-color: $primary_color;
}

.user-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 10px;
}
