
<div class="mt-4">
  <div class="row">
    <div class="col-md-3">
      <button>hoc ngay</button>
    </div>
    <div class="col-md-9">
      <h2>{{blog.name}}</h2>
      <img src="{{blog.image}}" alt="{{blog.name}}" class="w-100 h-auto">
      <p class="mt-2">{{blog.body}}</p>
    </div>
  </div>
</div>